*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    min-height: 100vh;
    width: 70%;
    left: 20%;
    position: relative;
}

nav {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-55%);
}

nav img {
    display: block; /* to center properly */
}

.textbox {
    width: 90%;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    text-shadow: 1px 1px 0 white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;
    line-height: 1.5;
    margin: 10px 0 40px; /* Adjusted margin for .textbox */
}

.textbox h1 {
    font-size: 62px;
    margin-bottom: 20px;
}

.textbox p {
    margin-bottom: 20px;
    font-size: 1.2em;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    top: 50px;
}

body {
    background: linear-gradient(rgb(255, 255, 255) 75%, transparent 75%);
    /*url('Forest.jpg');*/
    background-size: cover;
    /*background-position: bottom;*/
    background-repeat: no-repeat;
}

.sidebar{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 65px;
    background-color: rgb(76, 173, 212);
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;
}

.sidebar.active ~ .main-content{
   left: 250px;
   width: calc(100% - 250px);  
}

.sidebar.active{
    width: 250px;
}

.sidebar #btn{
    position: relative;
    color: white;
    top: 1rem;
    left: 60%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn{
    left: 90%
}

.sidebar.top.logo{
    opacity: 0;
}

.sidebar.active.top.logo{
    opacity: 1;
}

.top.logo i{
    font-size: 2rem;
    margin-right: 5px;
}

.sidebar ul li{
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}

.sidebar ul li a{
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem; 
}

.sidebar ul li a:hover{
    background-color: white;
    color:rgb(76, 173, 212);
}

.sidebar ul li a i{
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}
.sidebar.nav-item{
    opacity: 0;
}
.sidebar.active .nav-item{
    opacity: 1;
}

.sidebar ul li .tooltip{
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(76, 173, 212, 0.2);
    border-radius: 0.6rem;
    padding: 0.4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;
}

.sidebar ul li:hover .tooltip{
    opacity: 1;
}

.sidebar.active ul li .tooltip{
    display: none;
}
